/*
* - Elements
*/
body {
  margin: 0;
  padding: 0;
  font-family: bennet-text-four, sans-serif;
  font-size: 16px;
  color: #222222;
}

small {
  font-size: 0.750em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: omnes-pro, sans-serif;
}

h1 {
  font-size: 3.000em;
}

h2 {
  font-size: 2.250em;
}

h3 {
  font-size: 1.750em;
}

h4, h5, h6 {
  font-size: 1.125em;
}

a:link,
a:visited {
  color: #CC4400;
}

a:hover {
  color: #D9150B;
}

a:active {
  color: #CC4400;
}

::placeholder {
  color: #989898;
  font-family: omnes-pro, sans-serif;
}

label {
  font-family: omnes-pro, sans-serif;
}

input,
textarea {
  padding: 5.5px 10px;
  outline: none;
  border: 2px solid #989898;
  background-color: inherit;
  font-family: omnes-pro, sans-serif;
}

input:focus,
textarea:focus {
  border-color: #222222;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='url'],
input[type='password'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='day'],
input[type='year'],
input[type='tel'],
textarea {
  width: 360px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
}

/*
* - Generic components
* -- Grid
*/
.max-width {
  max-width: 1640px;
  margin: 0 auto;
  width: 100%;
}

/*
* -- Buttons
*/
.btn {
  border-width: 2px;
  text-transform: uppercase;
  font-size: 0.875em;
  border-radius: 4px;
  height: 48px;
  padding: 12px;
  min-width: 100px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
  font-family: omnes-pro, serif;
  font-weight: 600;
  line-height: 1;
}

.btn-sm {
  font-size: 0.857em;
  padding: 7.5px;
  height: 35px;
  min-width: 100px;
}

.btn-lg {
  size: 1em;
  height: 58px;
  padding: 16px;
}

.btn-link {
  color: #CC4400;
  min-width: initial;
  box-shadow: none;
}

.btn-link:hover {
  color: #FFCCB3;
}

.btn-primary {
  background-color: #CC4400;
  border-color: #CC4400;
}

.btn-primary:hover {
  background-color: #FFFFFF;
  color: #CC4400;
  border-color: #CC4400;
}

.btn-outline-primary {
  border-color: #CC4400;
  color: #CC4400;
  background-color: inherit;
}

.btn-outline-primary:hover {
  background-color: #CC4400;
  border-color: #CC4400;
}

.btn-primary:disabled  {
  background-color: #FFCCB3;
  border-color: #FFCCB3;
  cursor: default;
}

.btn-primary:hover:disabled  {
  background-color: #FFCCB3;
  border-color: #FFCCB3;
  color: #FFFFFF;
}

.btn-outline-primary:disabled  {
  border-color: #FFCCB3;
  background-color: #FFFFFF;
  color: #FFCCB3;
  cursor: default;
}

.btn-outline-primary:hover:disabled  {
  border-color: #FFCCB3;
  background-color: #FFFFFF;
  color: #FFCCB3;
}

.btn-secondary {
  background-color: #E3360B;
  border-color: #E3360B;
}

.btn-secondary:hover {
  background-color: #FFFFFF;
  color: #E3360B;
  border-color: #E3360B;
}

.btn-outline-secondary {
  border-color: #E3360B;
  color: #E3360B;
  background-color: inherit;
}

.btn-outline-secondary:hover {
  background-color: #E3360B;
  border-color: #E3360B;
}

.btn-secondary:disabled  {
  background-color: #FCC4B6;
  border-color: #FCC4B6;
  cursor: default;
}

.btn-secondary:hover:disabled  {
  background-color: #FCC4B6;
  border-color: #FCC4B6;
  color: #FFFFFF;
}

.btn-outline-secondary:disabled  {
  border-color: #FCC4B6;
  background-color: #FFFFFF;
  color: #FCC4B6;
  cursor: default;
}

.btn-outline-secondary:hover:disabled  {
  border-color: #FCC4B6;
  background-color: #FFFFFF;
  color: #FCC4B6;
}

.btn-tertiary {
  background-color: #E3740B;
  border-color: #E3740B;
  color: #FFFFFF;
}

.btn-tertiary:hover {
  background-color: inherit;
  color: #E3740B;
  border-color: #E3740B;
}

.btn-outline-tertiary {
  border-color: #E3740B;
  color: #E3740B;
  background-color: inherit;
}

.btn-outline-tertiary:hover {
  background-color: #E3740B;
  border-color: #E3740B;
  color: #FFFFFF;
}

.btn-tertiary:disabled  {
  background-color: #FCD8B6;
  border-color: #FCD8B6;
  cursor: default;
}

.btn-tertiary:hover:disabled  {
  background-color: #FCD8B6;
  border-color: #FCD8B6;
  color: #FFFFFF;
}

.btn-outline-tertiary:disabled  {
  border-color: #FCD8B6;
  background-color: inherit;
  color: #FCD8B6;
  cursor: default;
}

.btn-outline-tertiary:hover:disabled  {
  border-color: #FCD8B6;
  background-color: inherit;
  color: #FCD8B6;
}

.btn-quartairy {
  background-color: #D9150B;
  border-color: #D9150B;
  color: #FFFFFF;
}

.btn-quartairy:hover {
  background-color: inherit;
  color: #D9150B;
  border-color: #D9150B;
}

.btn-outline-quartairy {
  border-color: #D9150B;
  color: #D9150B;
  background-color: inherit;
}

.btn-outline-quartairy:hover {
  background-color: #D9150B;
  border-color: #D9150B;
  color: #FFFFFF;
}

.btn-quartairy:disabled  {
  background-color: #FBBAB6;
  border-color: #FBBAB6;
  cursor: default;
}

.btn-quartairy:hover:disabled  {
  background-color: #FBBAB6;
  border-color: #FBBAB6;
  color: #FFFFFF;
}

.btn-outline-quartairy:disabled  {
  border-color: #FCD8B6;
  background-color: inherit;
  color: #FCD8B6;
  cursor: default;
}

.btn-outline-quartairy:hover:disabled  {
  border-color: #FCD8B6;
  background-color: inherit;
  color: #FCD8B6;
}

.btn-black {
  border-color: #222222;
  background-color: #222222;
  color: #FFFFFF;
}

.btn-black:hover {
  color: #222222;
  background-color: inherit;
  border-color: #222222;
}

.btn-white {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  color: #222222;
}

.btn-white:hover {
  border-color: #FFFFFF;
  background-color: inherit;
  color: #FFFFFF;
}

.btn-black:disabled,
.btn-white:disabled {
  background-color: #989898;
  border-color: #989898;
  color: #FFFFFF;
  cursor: default;
}

.btn-black:hover:disabled,
.btn-white:hover:disabled {
  background-color: inherit;
  border-color: #989898;
  color: #989898;
  cursor: default;
}

.btn-round,
.btn-square {
  min-width: initial;
  width: 48px;
  height: 48px;
}

.btn-round.btn-sm,
.btn-square.btn-sm {
  width: 35px;
  height: 35px;
}

.btn-round.btn-lg,
.btn-square.btn-lg {
  width: 58px;
  height: 58px;
}

.btn-round {
  border-radius: 29px;
}

.btn-square {
  border-radius: 4px;
}

/*
* -- Inputs
*/
input.sm {
  height: 35px;
}

input.lg {
  height: 64px;
}

input.error,
textarea.error {
  border-color: #D9150B;
}

/*
* ---Checkboxes and Radios
*/
.checkbox-radio input {
  position: absolute;
  left: -99999px;
}

.checkbox-radio input:checked + label.checkbox-radio-label {
  border-color: #cc4400;
}

.checkbox-radio label.checkbox-radio-label {
  max-height: 88px;
  height: 88px;
  padding: 0 28px;
  text-transform: uppercase;
  color: #cc4400;
  font-weight: 600;
  background-color: #ffccb3;
  border: 2px solid #ffccb3;
  border-radius: 2px;
  line-height: 88px;
  display: inline-block;
}

.checkbox-radio label.checkbox-radio-label svg {
  display: inline-block;
  vertical-align: middle;
}

.checkbox-radio label.checkbox-radio-label svg:first-child {
  margin-right: 10px;
}

.checkbox-radio label.checkbox-radio-label svg:last-child {
  margin-left: 10px;
}

/*
* -- Menu
*/
.nav-item {
  text-transform: uppercase;
  font-size: 0.875em;
}

.nav-item:first-of-type .nav-link {
  padding-left: 0;
}

.nav-item:last-of-type .nav-link {
  padding-right: 0;
}

.nav.flex-column .nav-item .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.nav-link {
  font-family: omnes-pro, serif;
  font-weight: 600;
}

/*
* -- Header
*/
.site-header-wrapper {
  align-items: center;
}

.site-title {
  color: #CC4400;
  font-size: 1.375em;
  font-weight: 700;
  margin: 0;
  padding-bottom: 5px;
}

.site-header {
  padding: 38px 0;
}

/*
* -- Footer
*/
footer.site-footer {
  margin-top: 50px;
  padding-top: 38px;
  border-top: 2px solid #cc4400;
}

footer.site-footer .site-footer-inner .copyright-wrapper {
  padding: 30px;
  background-color: #cc4400;
  margin-top: 80px;
}

footer.site-footer .site-footer-inner .copyright-wrapper .copyright {
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: omnes-pro, sans-serif;
}

footer.site-footer .site-footer-inner .site-footer-menus {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

footer.site-footer .site-footer-inner .footer-menu {
  margin: 0 48px;
}

footer.site-footer .site-footer-inner .footer-menu .footer-menu-title {
  writing-mode: vertical-rl;
  margin: 0;
  margin-right: 17px;
  padding: 8px 0;
  float: left;
}

/* 
* -- Main menu
*/
.site-header .search-wrapper .search-input {
  background-color: #FFCCB3;
  border: none;
  box-shadow: none;
}

/*
* - Login
*/
.content .login .button {
  background-color: #008cba;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 250px;
  text-align: center;
}
.content .login .button:hover {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.content .login .e-mail_en_Wachtwoord {
  color: #000000;
  text-align: center;
  position: relative;
}
.content .login {
  color: #000000;
  text-align: center;
}

.content .login .validText {
  color: #000000;
}

/*
* - Product overview
*/

.content .product-overview {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  max-width: 1465px;
  margin: 0 auto;
}

.content .product-overview .product-container {
  text-align: center;
  padding: 0 5vw;
  border: 1px solid;
  /* margin: 0 50px;
  margin-top: 10px;
  margin-bottom: 10px; */
}

.content .product-overview .product-container .product-button {
  background-color: red;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  width: 250px;
  text-align: center;
}

.content .product-overview .product-container .product-button:hover {
  background-color: #ff7070;
}

.content .product-overview .product-container .product-price {
  font-size: 20px;
}

/*
* - Register
*/
.content .signup-form {
  color: rgb(0, 0, 0);
  text-align: center;
}

.content .signup-form .fields-signup .signup-name {
  color: rgb(0, 0, 0);
  position: relative;
}

.content .signup-form .fields-signup .signup-surname {
  color: rgb(0, 0, 0);
}

.content .signup-form .fields-signup .signup-email {
  color: rgb(0, 0, 0);
}

.content .signup-form .fields-signup .signup-emailconfirm {
  color: rgb(0, 0, 0);
}

.content .signup-form .fields-signup .signup-pass {
  color: rgb(0, 0, 0);
}

.content .signup-form .fields-signup .signup-passconfirm {
  color: rgb(0, 0, 0);
}

.content .signup-form .submit {
  background-color: #008cba;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.3s;
  width: 250px;
  text-align: center;
}

.content .signup-form .submit:hover {
  background-color: #bd5417;
  color: white;
  box-shadow: 0 9px 12px 0 rgba(34, 34, 34, 0.24),
    0 15px 45px 0 rgba(0, 0, 0, 0.19);
}

/*
* -Account
*/

