header.site-header .site-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #393537;
    padding: 10px;
    max-width: 1465px;
    margin: 0 auto;
}

header.site-header .site-header-wrapper .site-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header.site-header .site-header-wrapper .site-title-wrapper h2.site-title {
    font-size: 2em;
    margin: 0;
}

header.site-header .site-header-wrapper .site-title-wrapper h2.site-title a:link,
header.site-header .site-header-wrapper .site-title-wrapper h2.site-title a:visited {
    color: #CC6329;
    text-decoration: none;
}

header.site-header .site-header-wrapper .site-title-wrapper h2.site-title a:hover {
    color: #FFFFFF;
}

header.site-header .site-header-wrapper .site-title-wrapper h2.site-title a:active {
    color: #FFFFFF;
}

header.site-header .site-header-wrapper .search-wrapper{
    flex-grow: 3;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header.site-header .site-header-wrapper .search-wrapper .search-form input[type="text"] {
    display: block;
    width: 100%;
    padding: 8px 10px;
    background-color: #FFFFFF;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #222222;
    box-sizing: border-box;
}

::placeholder {
    color: #444444;
}

header.site-header .site-header-wrapper .search-wrapper .search-form  button[type="submit"] {
    display: none;
}

header.site-header .site-header-wrapper .main-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}